@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    color: #2e705c;
}

h1 {
    color: #000;
}

nav a:hover {
    background-color: rgba(158, 255, 179, 0.3);
    font-weight: bold;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #114435;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    line-height: 20px;
    padding: 10px;
    display: block;
    transition: all 0.5s;
}

.profile header {
    text-align: center;
}

footer {
    padding: 20px;
    color: white;
    background-color: #114435;
    text-align: center;
    font-weight: bold;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 10px;
    background-image: url("/assets/image/aurora.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.logo {
    display: inline-block;
    float: left;
    width: 124px;
}

nav {
    background-color: #114435;
    padding: 5px;
    position: sticky;
    top: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

header {
    display: inline;
}

.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}

.comment {
    float: center;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px
}

.profile section {
    text-align: left;
}

.contact {
    font-size: 15pt;
    color: #38876f;
    text-align: center;
    padding: 18px 0;
    margin: 0 0 10px 0;
}

.contact span {
    border: 4px dashed #38876f;
    padding: 10px
}

form {
    text-align: center;
    margin: 0;
}

.submit {
    background-color: #38876f;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}

.submit:hover {
    background-color: #114435;
}

textarea {
    height: 100px;
}

input,
textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}